.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  margin: 0 auto;
  background-color: lightgray;
}

.container > div {
  border: solid 1px black
}

input {
  width: 150px;
  margin: 5px;
}